* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 24, 51, 0.262);
  color: #000;
}
button:active {
  transform: scale(1.01);
}
button:focus {
  outline: none;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
